<%- include("sidenavbar") -%>


<!-- main content container  -->
<div class="col-sm p-3 min-vh-100 d-flex flex-column" id="main-content">
    <div class="row" style="background-color: #CCD5AE;">

     <!-- Heading -->
     <h1 class="text-center">DASHBOARD</h1>
    </div>
    <div class="row mt-5 text-center" id="info">
     <p class="mt-4">Company name: <%= companyName %></p>
     <p class="mt-4">User ID: <%= userID %></p>
     <p class="mt-4">Email: <%= Email %></p>
     <p class="mt-4">Password: <%= Password %></p>
     <p class="mt-4">Phone Number: <%= Phone_number %></p>
     <p class="mt-4">City: <%= city %></p>
     <p class="mt-4">State: <%= state %></p>
     <p class="mt-4">Country: <%= country %></p>
    </div>
 </div>
</div>


<%- include("footer") -%>