<%- include("sidenavbar") -%>

<div class="col-sm p-3 min-vh-100 d-flex flex-column" id="main-content">
    <div class="row" style="background-color: #CCD5AE;">

     <!-- Heading -->
     <h1 class="text-center">EDIT INVENTORY</h1>
    </div>

    <div class="row m-5">

        <form action="/inv/edit" method="post">

            <div class="row mt-5">
                <!-- Select input for the product ID for edit  -->
                
                <label for="id-selection">Select the Product ID:</label>
                
                <select class="form-select" name="id-selection" size="3" aria-label="size 3 select example">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>

            <div class="row d-flex mt-5">
                <input type="submit" name="update" class="btn btn-outline-primary" value="1">Update Inventory Item details</input>
                <input type="submit" class="btn btn-outline-primary" value="2">Enter new Items</input>
                <input type="submit" class="btn btn-outline-primary" value="3">Delete Item</input>
            </div>

            </form>
            
            <% if(selection === 1){ %>
            <%- include("updateInventory") -%>
            <% } else if(selection===2){ %>
            <%- include("enterInventory") -%>
            <% } else { %>
            <%- include('deleteInventory') %>
            <% } %>


    </div>

    




</div>



<%- include("footer") -%>