<%- include("sidenavbar") -%>


<div class="col-sm p-3 min-vh-100 d-flex flex-column" id="main-content">
    <div class="row" style="background-color: #CCD5AE;">

     <!-- Heading -->
     <h1 class="text-center">INVENTORY</h1>
    </div>
    <form action="/inv/edit" method="post">
        <div class="row mt-5">
            <button type="submit" class="btn btn-outline-primary">Edit Inventory</button>
        </div>
    </form>
    <div class="row mt-5 text-center" id="info">
        <table class="table table-striped">
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Category ID</th>
                <th>Supplier ID</th>
                <th>Cost</th>
                <th>Units</th>
            </tr>
          <% for(var i=0;i<numberOfItems;i++){    %>
            <tr>
                <td><%= products[i].PRODUCT_ID  %></td>
                <td><%= products[i].NAME  %></td>
                <td><%= products[i].CATEGORY_ID  %></td>
                <td><%= products[i].SUPPLIER_ID  %></td>
                <td><%= products[i].COST  %></td>
                <td><%= products[i].UNITS  %></td>
            </tr>
         <%  }  %>      
        </table>
    </div>
 </div>
</div>
<%- include("footer") -%>